.header {
    text-align: center;
}

.title {
    line-height: 1.2;
}

.subtitle {
    margin: 1rem auto 2rem;
    line-height: 1.2;
}

.color-window {
    margin: auto auto 1rem;
    height: 200px;
    width: 100%;
}

.text-block {
    margin: 2rem auto;
    display: inline-grid;
    grid-template-columns: min-content min-content;
    gap: 1rem;
}

.text-block p span {
    margin: 0;
    text-align: center;
    white-space: nowrap;
    transition: 0.3s;
}

.text-block p span:hover {
    cursor: pointer;
    color: hsl(0, 0%, 99%);
}