.nav {
    padding: 1rem;
    background: hsl(300, 5%, 10%);
    border-bottom: 1px solid hsl(300, 5%, 10%);
    position: fixed;
    inset: 0 0 auto 0;
    transition: 0.3s ease;
}

.nav.scrolled {
    background: hsl(300, 5%, 8%);
    border-bottom: 1px solid hsl(0, 0%, 50%);
}

.menu {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
}

.menu-item {
    margin-right: 2rem;
    line-height: 1;
    display: flex;
    align-items: center;
}

.menu-item:last-of-type {
    margin-left: auto;
}

.menu-item .swatch {
    display: inline-block;
    margin-left: 0.5rem;
    height: 2rem;
    width: 2rem;
}

@media (max-width: 767px) {
    .menu {
        justify-content: space-between;
    }

    .menu-item {
        margin: 0;
        order: 3;
    }

    .menu-item:first-of-type {
        margin: 0 0 1rem;
        order: 1;
        flex: 1 1 50%;
    }

    .menu-item:last-of-type {
        margin: 0 0 1rem auto;
        font-size: 0.75rem;
        flex: 1 1 50%;
        order: 2;
        justify-content: flex-end;
    }

    .menu-item .swatch {
        /* margin: 0 0 0 auto; */
        height: 1.5rem;
        width: 1.5rem;
    }
}