.colors-section {
    padding-top: 3rem;
    margin-top: -3rem;
}

.colors-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.colors-container h4 {
    margin-bottom: 1rem;
    flex: 1 1 100%;
}

.color-cell {
    margin-bottom: 2rem;
}

.color-text-block {
    display: grid;
    grid-template-columns: 1fr min-content;
    text-align: center;
}

.color-swatch {
    margin-bottom: 0.5rem;
    width: 100%;
    min-width: 180px;
    height: 120px;
    place-self: center;
}