.title {
  margin: 1rem 0;
}

.color-grid {
    margin: auto;
    display: inline-grid;
    grid-template-columns: auto;
}

@media (min-width: 375px) {
    .color-grid {
        min-width: 325px;
    }
}

.color-grid-cell {
    margin-bottom: 3rem;
    display: inline-grid;
    grid-template-columns: min-content min-content;
    column-gap: 1rem;
}

.color-grid-text-block {
    display: grid;
    grid-template-columns: 1fr min-content;
    gap: 1rem;
    text-align: left;
}

.color-grid-swatch {
    width: 125px;
    height: 125px;
    place-self: center;
}

@media (max-width: 375px) {
    .color-grid-swatch {
        width: 90px;
        height: 90px;
    }
}