aside {
    margin: 4rem 0;
}

.text-label,
.text-input {
    max-width: 400px;
    display: block;
    text-align: left;
}

.text-label {
    margin-top: 1.5rem;
}

.text-input {
    padding: 0.5rem 0;
    background: transparent;
    width: 100%;
    color: hsl(0, 0%, 99%);
    font-size: 20px;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
    border: none;
    border-bottom: 2px solid hsl(0, 0%, 70%);
    outline: none;
}

.text-input:focus {
    background: transparent;
}

.section-wrap {
    margin-top: 3rem;
}

.section-wrap section {
    margin-top: 3rem;
}

@media (min-width: 768px) {
    .section-wrap {
        display: grid;
        grid-template-columns: auto auto;
        gap: 3rem;
    }

    .section-wrap section {
        margin-top: 0;
    }
}

.description {
    text-align: center;
}