@import url('https://fonts.googleapis.com/css?family=Work+Sans:700');

html {font-size: 100%;} /*16px*/

body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  line-height: 1.75;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin: 2rem 0 1.38rem;
  font-family: 'Work Sans', sans-serif;
  line-height: 1.3;
  color: hsl(0, 0%, 99%);
}

h1 {
  margin: 0;
  font-size: 2.488rem;
}

h2 {font-size: 2.074rem;}

h3 {font-size: 1.728rem;}

h4 {font-size: 1.44rem;}

h5 {font-size: 1.2rem;}

small, .text_small {font-size: 0.833rem;}

a {
  color: hsl(291, 47%, 70%);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: hsl(291, 47%, 90%);
}

.app {
  padding: 3rem 1rem 1rem;
  min-height: 100vh;
  background: hsl(300, 5%, 10%);
  color: hsl(0, 0%, 70%);
}

.container {
  margin: auto;
  width: 100%;
  max-width: 1000px;
}

main {
  text-align: center;
  display: grid;
}

@media (min-width: 768px) {
  main {
    grid-template-columns: auto auto;
  }
}

.color-name {
    text-align: center;
    white-space: nowrap;
    transition: 0.3s;
}

.color-name:hover,
.color-name.success {
    color: hsl(0, 0%, 99%);
}

.color-name:hover {
    cursor: pointer;
}
