.app {
  padding: 0 0 2rem;
  min-height: 100vh;
  text-align: center;
  background-color: #121212;
  color: #fafafa;
}

form {
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 900;
}

label ~ label {
  margin: 2rem 0 0;
}

input {
  margin: auto;
  width: 100%;
  max-width: 360px;
}

button {
  padding: 0.5rem 1.5rem;
  background-color: hsl(213, 99%, 39%);
  color: #fafafa;
  font-weight: 900;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: hsl(213, 99%, 24%);
}

button ~ button {
  margin-left: 1.5rem;
}